// Define variables for your color scheme

// For example:
$gray: #0E0000;
$light-gray: #F4F4F4;
$beige: #f4ece0;
$dark-beige: rgb(162, 121, 6);
$white: white;
$black: black;
$red: rgb(201, 37, 37);
$main-gray: rgb(81, 81, 81);
