.container {
  margin-top: 80px;
}

.container-photo-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  padding: 30px 0px;
}

.container-booking {
  border: 1px solid rgb(221, 221, 221);
  background: $beige;
  box-shadow: 0 5 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  margin: 10px center;
  padding: 24px 24px;

  h2 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 2.0rem;
  }

  .btn {
    width: 100%;
    background-color: white;
    color: black;
    border: 2px solid $dark-beige;
  }
}

.container-photo {
  .gallery-main {
    width: 90%;
  }
}

.container-details {
  padding-bottom: 30px;
}

.container_small {
  width: 300px;
  margin: 100px auto;
  label{
    font-weight: bold;

    color: rgb(81, 81, 81);
  }
  .btn {
    color: rgb(81, 81, 81);
    font-weight: bold;
    background-color: white;
    margin-bottom: 16px;
  }
 a {
  color: rgb(81, 81, 81);
 }
}

.container-create-form {
  border: 1px solid rgb(221, 221, 221);
  background: $beige;
  box-shadow: 0 5 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  margin: 10px center;
  padding: 24px 24px;
  align-items: center;

  h4 {
    font-size: 2.0rem;
  }

  .btn {
    width: 100%;
    background-color: white;
    color: black;
    border: 2px solid $dark-beige;
  }
}


.btn-primary:not(:disabled):not(.disabled) {
  &:hover {
    background: $dark-beige;
    border: 2px solid $dark-beige;
  }
}

.container-price-av {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

ul {
  width: 100%;
}
