.navbar-lewagon {
  justify-content: space-between;
  background: $beige;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: $main-gray;
  margin-left: 210px;
}

.fa-square {
  font-size: 45px;
  margin-left: 60px;
  color: $main-gray;
}

.avatar{
  margin-right: 60px;
  width: 45px;
  height: 45px;
}

.navbar-nav {
  align-items: center;
}

.nb-item {
  text-decoration: none;
  color: $main-gray;
  padding: 0px 10px;
}
